<footer class="relative mt-10 md:mt-20">
  <div class="bg-app-beige border-t border-border/10 absolute bottom-0 w-full">
    <div
      class="pl-5 content-gutter py-2 md:py-4 flex flex-col md:flex-row items-center gap-2 md:gap-4"
    >
      <!-- Left: copyright -->
      <p class="text-neutral-900 leading-snug text-sm">
        Copyright © 2025-2025 eBey Inc.<br />
        Tous droits réservés
      </p>

      <!-- Right: legal/secondary links -->
      <nav class="md:ml-auto" aria-label="Legal links">
        <ul class="flex flex-wrap items-center gap-x-12 gap-y-2 text-neutral-900">
          <li>
            <a href="mailto:ebey@support.com" class="hover:underline text-sm md:text-base"
              >Contact</a
            >
          </li>
          <li>
            <a routerLink="/shipping" class="hover:underline text-sm md:text-base">Livraison</a>
          </li>
          <li>
            <a routerLink="/policy" class="hover:underline text-sm md:text-base"
              >Politique de Confidentialité</a
            >
          </li>
          <li>
            <a routerLink="/terms" class="hover:underline text-sm md:text-base"
              >Conditions d’Utilisation</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
